:root{
    --white: #fff;
    --purple: #370f53;
    --wine: #48142c;
    --pink: #f04393;
    --pink2: #f9004d;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    overflow-x: hidden;
}
/* menu */
nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--pink2);
    background: var(--wine);
    padding: 0px 6%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.nav-login {
    list-style: none;
    display: flex;
}

.nav-login a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.log {
    display: none;
}

/* mobile */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--white);
    margin: 8px;
    transition: 0.6s;
}