:root{
    --white: #fff;
    --purple: #370f53;
    --pink: #f04393;
    --pink2: #f9004d;
    --boo: #581258;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    background: #101010;
}

/* menu */
nav {
    display: flex;
    flex-wrap: wrap;
    background: var(--purple);
    padding: 0px 6%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.nav-login {
    list-style: none;
    display: flex;
}

.nav-login a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.log {
    display: none;
}

/* mobile */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--white);
    margin: 8px;
    transition: 0.6s;
}
/* rodapé */
footer{
    position: relative;
	width: 100%;
	height: 250px;
    margin-top: 60px;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}
footer p{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer .share{
    padding: 2rem 0;
}

footer .share a{
    font-size: 35px;
    padding: 8px;
    color: var(--white);
}

footer .share a:hover{
    color: var(--boo);
}

footer .copy{
    position: absolute;
	color: var(--purple);
	bottom: 35px;
	font-size: 14px;
    top: 90%;
}

@media screen and (max-width: 768px) {
    /* menu-mobile */
    .nav-list {
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        width: 50%;
        height: 92%;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        z-index: 1000;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-login {
        display: none;
    }
    .log {
        display: flex;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* animação burguer */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    transform: translateX(-50px);
    background: transparent;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* cor barra de rolagem */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #131313;
}

::-webkit-scrollbar-thumb {
    background-color: #370f53;
    border-radius: 10px;
}