:root {
	--white: #fff;
	--purple: #370f53;
	--roxo: #9f37ea;
	--wine: #48142c;
	--pink: #f9004d;
}
/*===== geral =====*/
span {
	color: var(--roxo);
}

h1, h3 {
	color: var(--white);
}

/*===== apresentação =====*/
#showcase {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: url('../img/predio.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#show-container {
    text-align: center;
}

#show-container h2 {
    font-size: 3rem;
}

#show-container p {
    font-size: 1.4rem;
    padding: 7px 0;
}

#show-container .btn {
	display: inline-block;
	background-color: var(--purple);
	color: var(--white);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .6s;
}

#show-container .btn:hover {
	background-color: transparent;
	border: 2px solid var(--purple);
}

/*===== galeria =====*/
.gallery {
	padding: 50px;
	display: flex;
}

.g-item {
	flex: 1;
	padding: 5px;
}

.galleryImg {
	width: 100%;
}

.g-tittle {
	font-size: 20px;
	text-align: center;
}


/*===== portfolio/serviços =====*/
#port .title1 h2 {
	color: var(--white);
	font-size: 60px;
	margin-top: 10%;
	text-align: center;
}

#port .container {
	width: 100%;
	height: 52vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#port .container input[type=radio] {
	display: none;
}

#port .container .card {
	position: absolute;
	width: 40%;
	height: 80%;
	left: 0;
	right: 0;
	margin: 90px auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	box-shadow: 0 0 10px 0 #48142c;
	transition: 0.4s ease;
	cursor: pointer;
}

#port .container .card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

#port .container .card h1 {
	position: absolute;
	z-index: 9;
	color: #fff;
	font-size: 3rem;
	text-align: center;
	margin-top: 60px;
}

#port .container .card p {
	position: absolute;
	z-index: 9;
	width: 400px;
	color: #fff;
	margin-top: 200px;
}

#port .container .card .button {
	position: absolute;
	z-index: 9;
	margin-top: 320px;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	text-decoration: none;
	font-weight: bold;
	color: var(--white);
	background-color: var(--purple);
	cursor: pointer;
	transition: .5s;
}

#port .container .card .button:hover {
	background-color: transparent;
	border: 2px solid var(--purple);
}

#port .container .cards {
	position: relative;
	width: 100%;
	height: 100%;
}

/*===== animação dos cards =====*/
#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
	transform: translateX(-40%) scale(0.8);
	opacity: 0.4;
	z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
	transform: translateX(40%) scale(0.8);
	opacity: 0.4;
	z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
	transform: translateX(0) scale(1);
	opacity: 1;
	z-index: 1;
}

/*==== reviews ====*/
.section {
	padding: 7rem 0;
	overflow: hidden;
}

.section-header {
	text-align: center;
	margin-bottom: 1.5rem;
}

.feedback {
	overflow: hidden;
}

.feedback .container {
	position: relative;
	z-index: 5;
	max-width: 92rem;
	padding: 0 4rem;
	margin: 0 auto;
}

.testi-content {
	margin-top: 6rem;
}

.reviews {
	overflow: hidden;
}

.review {
	position: relative;
	padding: 2rem 1.5rem;
}

.quote {
	position: absolute;
	top: 0;
	left: 0;
	color: #784cfb;
	opacity: 0.04;
	font-size: 8rem;
}

.rate {
	display: flex;
	font-size: 1.4rem;
	color: #ebc000;
	margin-bottom: 1.5rem;
}

.rate i {
	margin-right: 0.3rem;
}

.review-text {
	font-size: 1.35rem;
	font-weight: 300;
	color: var(--white);
	line-height: 1.7;
}

.review-info {
	margin-top: 2rem;
}

.review-name {
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--roxo);
}

.review-job {
	font-size: 1.15rem;
	font-weight: 300;
	color: #777;
}

.review-nav {
	bottom: 2.2rem;
	top: initial;
	font-size: 1.8rem;
	color: #784cfb;
}

.swiper-button-next {
	right: 2rem;
	left: initial;
}

.swiper-button-prev {
	right: 4.5rem;
	left: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

/*==== imagem reviews ====*/
#show-review {
	margin-top: 10%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: url('../img/raio-fundo-pc.png') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

.image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
}

/*==== textos dos reviews ====*/
.title {
	position: relative;
	display: inline-block;
	padding-bottom: 1rem;
	line-height: 1;
	font-size: 2.8rem;
	margin-bottom: 0.6rem;
}

.title:before {
	content: attr(data-title);
	display: block;
	margin-bottom: 0.4rem;
	color: #784cfb;
	font-size: 1.15rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.title:after {
	content: "";
	position: absolute;
	width: 90px;
	height: 5px;
	border-radius: 3px;
	background-color: var(--roxo);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.swiper-button-next {
	right: 2rem;
	left: initial;
}

.swiper-button-prev {
	right: 4.5rem;
	left: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}


/*===== scroll animado===== */
.content, .fundo img, .gallery, #port, #show-review, .section-header {
	visibility: hidden;
}



@media screen and (max-width: 999px) {
	/* galeria */
	.g-item {
		padding: 0;
	}
	.galleryImg {
		display: none;
	}
	#imgCell{
		display: flex;
		width: 40vh;
	}
	/* serviços */
	#port .title1 h2{
		font-size: 3rem;
	}
	#port .container .card {
		width: 50%;
		height: 70%;
	}
	
	#port .container .card h1 {
		font-size: 1.5rem;
	}
	
	#port .container .card p {
		font-size: 0.9rem;
		left: 20px;
		margin-top: 150px;
		max-width: 20rem;
	}
	#port .container .card .button {
		margin-top: 16rem;
	}
	/* reviews */
	.feedback img {
		display: none;
	}
	#show-review {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--white);
		background: url('../img/raio-fundo-mobile.png') no-repeat center center/cover;
		/* Overlay */
		background-color: rgba(0,0,0,0.5);
		background-blend-mode: color;
	}

	.grid-2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
}
@media screen and (max-width: 676px){
	/* serviços */
	#port .title1 h2{
		font-size: 2rem;
	}
	#port .container .card {
		width: 65%;
		height: 70%;
	}
	#port .container .card p {
		max-width: 16rem;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 550px){
	/* serviços */
	#port .container .card p {
		max-width: 14rem;
	}
	/* feedback */
	.section{
		margin-top: 9rem;
	}
}
@media screen and (max-width: 460px){
	/* serviços */
	#port .container .card p {
		max-width: 12rem;
	}
}